.navbar{
  width: 100%;
  height: 100%;
  background-color: black;
  color: aliceblue;
}
.users{
  padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
h4{
  margin-right: 10px;
}
.ul{
   text-align: center;
   margin-top: 50px;
   li{
     margin-top: 10px;
   } 
}