html{
   scroll-behavior: smooth;
}
.navbar{
  padding: 20px;
  background-color: #fff;
  transition: all .3s ease-in-out;
}
.navbar.active{
  padding: 10px;
  background-color:rgba(0, 0, 0, 1);
  width: 100%;
  position:fixed;
  z-index: 999;
}
.link.active{
   color: #fff;
}
@media screen and (max-width:600px) {
   .navbar.active{
      display: none;
   }
}
.arrow2{
   position: absolute;
   left: 50px;
   top: 80%;
   z-index: 1;
   opacity: 0;
   width: 40px;
   height: 40px;
   background-color: #FF9800;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 12px;
   transition:all 0.5s ease-in-out;
   i{
      font-size: large;
      font-weight: bold;
   }
}
.arrow2.active{
   position: fixed;
   opacity: 1;
}
