.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  li{
    list-style: none;
    transition: .5s color ease-in-out;
    :hover{
      color: orange;
    }
    
  }
  .navbar_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150%;
  }
}
.active{
    position: relative;
    color: orange;
}
